<div class="container-fluid">
        <div class="page-header row" style="background-color:white;width:100%;margin-top:0px;border-radius:5px;">
            <div class="col-md-1"><img src="/assets/cisco.gif" width="90" height="90"></div>
            <div class="col-md-10">
                <h3 style="color:gray;">ENTERPRISE AGREEMENT <br/> MANAGEMENT</h3>
            </div>
        </div>
        <div class="headerBlue" style="background-color:#005072;padding:3px;width:100%;border-radius:5px;">
            <h4 style="text-align:center;font-weight:bold; color:#70EAFA">EA Price Estimator Tool</h4>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6" style="margin-top:60px;margin-left:30px;text-align:center">
                    <a ><div><img src="/assets/tableau.jpg" width="90" height="90">
                        <h4 style="color:#005072;font-weight:bold;">Tableau</h4></div></a>
                </div>
                <div class="col-md-3" style="margin-top:60px;margin-left:60px;text-align:center">
                        <a (click)="takeMeToGetProspecting()"><div><img src="/assets/getProspect.png" width="90" height="90"><h4 style="color:#005072;font-weight:bold;">Get Prospect</h4></div></a>
                </div>
            </div>
        </div>

        <div class="col-md-6" style="margin-left:30px;margin-top:40px;text-align:center">
                <a (click)="takeMeToStartProspecting()"><div><img src="/assets/startProspect.png" width="90" height="90">
                    <h4 style="color:#005072;font-weight:bold;">Start Prospecting</h4>
                </div></a>
            </div>
            <div class="col-md-3" style="margin-top:50px;margin-left:60px;text-align:center">
                    <a (click)="takeMeToReportStatus()"><div><img src="/assets/reportstatus.png" width="90" height="90"><h4 style="color:#005072;font-weight:bold;">Check Report Status</h4></div></a>
            </div>
</div>

<!-- href="https://tab-app-116-p.cisco.com/#/site/CDOanalytics/workbooks/290/views" -->